@charset "utf-8";
/* CSS Document */

.car-background-wrapper{
	background: green;
	width:  500px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.car-track{
	background:url(../images/track.png) repeat-y;
	height: 9000px;
	width: 158px;
	float: left;
	top: 0px;
	position: absolute;
}

.car{
	width: 30px;
	height: 30px;
	background: url(../images/enemyCar1.png);
	position: absolute;
	top: -30px;
	left: 15px;
	z-index: 2;
}

.playerCar{
	width: 30px;
	height: 30px;
	background: url(../images/playerCar1.png);
	position: absolute;
	top: 260px;
	left: 65px;
	z-index: 3;
}

.score{
	float:left;
	left: 160px;
	color: red;
	position: absolute;
}
#score{
	color: yellow;
}

.bullet{
	width: 30px;
	height: 30px;
	background: url(../images/bullet.png);
	position: absolute;
	top: 260px;
	left: 15px;
	z-index: 2;
}